---
import RutaVisual from '../components/RutaVisual.jsx';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Simulador de Rutas de Emergencia</title>
	</head>
	<body>
		<header>
			<h1>🚑 Simulador de Rutas de Emergencia</h1>
			<p>
			  Herramienta para simular rutas óptimas de vehículos de emergencia, minimizando tiempos de respuesta.
			</p>
		</header>
		<main>
			<!-- La directiva client:load es crucial para que el componente de React sea interactivo -->
			<RutaVisual client:load />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color: white;
	}
	body {
		margin: 0;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	header {
		text-align: center;
		padding: 2rem 1rem;
	}
</style>
